<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ma.srm.srm.frontend">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SRMApp">

        <!-- SplashActivity = première activité -->
        <activity
            android:name="ma.srm.srm.frontend.ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.LoginActivity"
            android:exported="true" />

        <!-- MainActivity -->
        <activity
            android:name="ma.srm.srm.frontend.MainActivity"
            android:exported="true" />

        <!-- MapActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.MapActivity"
            android:exported="true" />

        <!-- AddCompteurEauActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.AddCompteurEauActivity"
            android:exported="true" />

        <!-- AddCompteurElectriciteActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.AddCompteurElectriciteActivity"
            android:exported="true" />

        <!-- ListeCompteursActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.ListeCompteursActivity"
            android:exported="true" />

        <!-- CompteurDetailsActivity -->
        <activity
            android:name="ma.srm.srm.frontend.ui.CompteurDetailsActivity"
            android:exported="true" />

        <!-- Meta-data pour Google Maps API -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>
</manifest>
